// Media Elements
//**********************************
img, 
a img{ 
	border: 0;
	-ms-interpolation-mode: bicubic; 
}
img {
    vertical-align: middle;
}
svg:not(:root){ 
	overflow: hidden;
}
embed,
iframe,
object {
	max-width: 100%;
}