// Selection
//***********************************/
// Remove text-shadow in selection highlight: h5bp.com/i
:-moz-selection { 
	background: #b3d4fc; 
	text-shadow: none; 
}
::selection { 
	background: #b3d4fc; 
	text-shadow: none; 
}
 
// Overrides the highlight color shown when the user taps a link or a JavaScript clickable element in Safari on iPhone
body { 
	-webkit-tap-highlight-color: #b3d4fc; 
}

// Makes the background for images transparent when selected
img::selection, img::-moz-selection {
	background:transparent;
}