/*---------------------------------------------------------
 * Header
---------------------------------------------------------*/
.header {
  clear: fix;
  background-color: $dark-blue;
  position: relative;
  z-index: 10;
  @include media-query( 1055px ) {
    background-color: #ffffff;
  }
  h1 {
    margin: 0px;
  }
  .content__wrapper {
    padding: 2em 0 1em;
    position: relative;
    overflow: visible;
    clear: fix;
    @include media-query( 1055px ) {
      padding: 2em;
    }  
  }
}
