/*---------------------------------------------------------
 * Text
---------------------------------------------------------*/
b,
strong {
  font-family: "Open Sans Bold";
}
i,
em {
  font-family: "Open Sans Italic";
}
p {
  margin: 0 0 1em;
  line-height: 1.5em;
}