/* Base
================================================================================*/
html,
body {
	height: 100%;
}
html {
	font-size: 62.5%;
	@include font-size($base-font-size);
  	line-height: $base-line-height;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background-color: $base-background;
	font-family: $base-font-family;
	color: $base-font-color;
}