/* Featured
================================================================================*/
.featured__wrapper {
	position: relative;
}
.featured__sm-image {
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	img {
		width: 100%;
		height: auto;
		max-height: 100%;
	}
	a:hover {
		.image-overlay {
			transition: opacity 0.3s ease;
			opacity: 0;
		}
	}
}
.case-studies {
	margin-bottom: 1em;
	.featured__title {
		margin-top: 0.5em;
		padding: 0 0.25em;
	}
	.ft-title {
		color: $heading-color;
		font-weight: bold;
		font-size: 1.5em;
		letter-spacing: 1px;
		a {
			color: $heading-color;
		}
	}
	.ft-subtitle {
		.label {
			@extend .rockwell-light-italic;
			font-size: 1.2em;
			font-weight: bold;
			color: darken( $link-color, 15% );
			a {
				color: darken( $link-color, 15% );
			}
		}
		
	}
}